@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

/* 雷寫的CSS-------------------------------*/
.register {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

    .register a {
        text-decoration: none;
    }

.otherlogin {
    margin-top: 20px;
    text-align: center;
}

/* .googleandapplelogin {
      } */
.youshouldknow {
    margin-top: 20px;
    text-align: center;
}

.line {
    border-top: 1px solid gray;
    margin-top: 20px;
    margin-bottom: 20px;
}

.youshouldknow a {
    margin-top: 20px;
    text-decoration: none;
}

.signin_modal .nav-tabs .nav-link {
    background-color: #e5e5e5;
    border-radius: 0;
    font-weight: 600;
    border-color: #fff;
    width: 100%;
}

.signin_modal .nav-tabs .nav-item {
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
}

.signin_modal .nav-tabs {
    border-bottom: none;
}

    .signin_modal .nav-tabs .nav-link.active {
        background-color: #fff;
        border: 1px solid gray;
    }

.checkcodeline {
    margin-top: 10px;
}

.phonelogin {
    margin-top: 10px;
}

.loginbuttonwithfa .btn {
    width: 49%;
}

.phone-password {
    margin-top: 10px;
}

/* 這是忘記密碼區塊下方的div */
.ForgetPasswordtoLogin {
    margin-top: 15px;
    text-align: center;
}

    /* 這是忘記密碼區塊下方的超連結樣式 */
    .ForgetPasswordtoLogin a {
        text-decoration: none;
    }

#aaa p {
    margin-top: 10px;
}

/*Bear後來新增、修改的CSS-------------------------------*/

body {
    background-color: rgb(247, 247, 247);
}

.ff-mont {
    font-family: Montserrat, serif;
}

.w-500 {
    width: 500px;
}

/*login 的樣式 ~~~~~~~~~~~~~~~~~*/
.card.sigin-card {
    border-radius: 0px;
    border-color: none;
    box-shadow: 0px 1px 6px 2px rgba(199, 199, 199, 0.719);
}

/*0610改*/
.modal-header {
    display: block;
    border-bottom: none;
    padding: 25px 25px 0 25px;
}

/*0610新增*/
#RegisterModal .modal-title{
    font-size:24px;
}

.nav-link {
    transition: unset;
}

.signin_modal .nav-tabs .nav-link {
    font-weight: normal;
    color: rgb(57, 58, 58);
    background-color: #fff;
    border-radius: 0;
    border-bottom: 1px solid rgb(197, 197, 197);
    width: 100%;
}

    .signin_modal .nav-tabs .nav-link.active {
        font-weight: bold;
        color: rgb(104, 159, 241);
        background-color: #fff;
        border: none;
        border-bottom: 2px solid rgb(104, 159, 241);
    }

.form-control {
    padding: 8px 15px;
    font-family: 'Noto Sans TC', serif;
    font-size: 14px;
}

.register a {
    font-size: 14px;
    color: rgb(94, 155, 245);
}

.signin_modal .login-btn, button.btn-primary[name="register"], .checkcodeline .btn-primary {
    font-weight: bold;
    background-color: rgb(60, 133, 241);
    border: none;
    box-shadow: 0px 2px 3px rgba(73, 73, 73, 0.527);
}

    .signin_modal .login-btn:hover, button.btn-primary[name="register"]:hover, .checkcodeline .btn-primary:hover {
        background-color: rgb(112, 164, 243);
    }

.otherlogin {
    position: relative;
    font-size: 14px;
    margin-top: 40px;
    margin-bottom: 15px;
}

    .otherlogin p {
        display: inline-block;
    }

    .otherlogin::before,
    .otherlogin::after {
        content: '';
        position: absolute;
        display: block;
        height: 1px;
        top: 0;
        bottom: 0;
        margin: auto;
        background-color: rgb(199, 199, 199);
    }

    .otherlogin::before {
        left: 0px;
        right: 290px;
    }

    .otherlogin::after {
        right: 0px;
        left: 290px;
    }

.otherlogin-btn-group img {
    width: 22px;
    height: 22px;
    margin-right: 5px;
}

.otherlogin-btn {
    padding: 10px;
    height: 45px;
    font-size: 14px;
    font-weight: bold;
    font-family: Montserrat, serif;
    color: rgb(83, 148, 245);
    border: 1px solid rgb(83, 148, 245);
    border-radius: 3px;
    background-color: #fff;
    transition: all, 0.3s;
}

    .otherlogin-btn:hover {
        transform: scale(1.02);
        border: 2px solid rgb(181, 207, 247);
    }

.loginbuttonwithfa {
    display: flex;
    justify-content: space-between;
}

    .loginbuttonwithfa .otherlogin-btn {
        flex-grow: 1;
    }

        .loginbuttonwithfa .otherlogin-btn:first-child {
            margin-right: 8px;
        }

.youshouldknow {
    font-size: 12px;
}

    .youshouldknow a:hover {
        color: rgb(83, 148, 245);
        text-decoration: underline;
    }

/*#Customer-Service {
    background-color: rgb(230, 228, 228);
    width: 100%;
    height: 227.2px;
}*/

/*bear：0610 新增*/
input#phone {
    padding: 8px 15px;
    font-family: 'Noto Sans TC', serif;
    font-size: 14px;
    border: 1.5px solid #dbdbdb;
    border-radius: 3px;
}
    input#phone::placeholder {
        opacity: 0.3;
    }
    input#phone:focus {
        color: #212529;
        background-color: #fff;
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    }



/*0609新增*/

/* 預設字體透明度 */
.form-control::placeholder {
    opacity: 0.3;
}
/*google機器人驗證至中*/
.robot {
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
}
/*忘記密碼的facebook按鈕間距*/
#Phonefacebooklogin-cardforget {
    margin-top: 20px;
}
/* 以下是忘記密碼的偽元素 */
.otherloginor {
    position: relative;
    font-size: 14px;
    text-align: center;
}

    .otherloginor p {
        display: inline-block;
    }

    .otherloginor::before,
    .otherloginor::after {
        content: '';
        position: absolute;
        display: block;
        height: 1px;
        top: 0;
        bottom: 0;
        margin: auto;
        background-color: rgb(199, 199, 199);
    }

    .otherloginor::before {
        left: 0px;
        right: 285px;
    }

    .otherloginor::after {
        right: 0px;
        left: 285px;
    }



