.bg{
    background-color:#F8F7F9;
    height:100%
    
}
.title {
 
}
.box{
    width:1100px;
}
.Options{
    height:54.4px;
}
.img {
    margin: 0 10px 0 10px;
    color: rgb(115, 115, 115);
}
.text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42857;
    text-decoration: none;
    color: rgb(115, 115, 115);
}
.text2 {
    text-decoration: none;
    color: black;
}
    .text:focus{
      
    }
  
.on {
    color: dodgerblue;
}

    #menu {
        position: sticky;
        top: 0px;
        height: 70vh;
    }
.white {
    color: white;
    text-decoration: none;
}

.answer {
    border: 1px solid rgb(221, 223, 226);
    border-bottom:none;
    height: 71.6px;
    background-color: white;
    margin-top: 20px;
    width: 736px;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 10px 0px;
    transition: box-shadow 0.3s ease 0s;
    /*cursor: pointer;*/
}
.sign {
    width: 670px;
    height: 84px;
    background-color: rgb(244, 248, 254);
    margin-left:20px;
    margin-top:30px;
}
.immediately {
    position: relative;
    border: none;
    padding: 12px;
    border-radius: 4px;
    user-select: none;
    background-color: rgb(83, 146, 249);
    color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 20%) 0px 1px 3px 1px;
    transition: all 0.15s ease-in-out 0s;
    width: 186.6px;
    height:44px;
    margin:10px;
}
.content {
    line-height: 65px;
    margin-left:20px;
    float: left;
}
.problem{margin:20px 0 0 20px;}
.flip {
    margin: 0px;
   
  
    width: 662px;
    font-family: 'Arial';
}
.answer:hover, .panel:hover {
    box-shadow: rgb(0 0 0 / 30%) 0px 10px 10px 0px;
}
.panel {
    margin-left: -1px;
    border-right: 1px solid rgb(221, 223, 226);
    border-left: 1px solid rgb(221, 223, 226);
    border-bottom: 1px solid rgb(221, 223, 226);
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 10px 0px;
    position: relative;
    height: auto;
    width: 736px;
    background-color: white;
    float: left;
    display: none;
    transition: box-shadow 0.3s ease 0s;
}
.clearFloat {
    clear: both;
}
#bgbox {
    display: -webkit-box;
}