
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC");
@import url("https://fonts.googleapis.com/css?family=Montserrat");


.wrap-1100 {
    width: 1100px;
    margin: auto;
}

.w-500 {
    width: 500px;
}

.mb-4-5 {
    margin-bottom: 35px;
}

.fz-12 {
    font-size: 12px;
}

.fz-14 {
    font-size: 14px;
}

.fz-16 {
    font-size: 16px;
}

.fz-20 {
    font-size: 20px;
}

.fz-24 {
    font-size: 24px;
}

.fz-big-icon {
    font-size: 32px;
}

.color-blue {
    color: rgb(57, 130, 238);
}

.color-gray {
    color: rgb(141, 141, 141);
}

.color-dark-gray {
    color: rgb(99, 98, 98);
}

.color-green {
    color: rgb(3, 170, 31);
}

.color-red {
    color: rgb(233, 3, 3);
}

.red-del-line {
    position: relative;
}

    .red-del-line::before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -1px;
        right: -1px;
        margin: auto;
        display: block;
        height: 2px;
        background-color: rgba(250, 44, 44, 0.712);
        content: "";
        font-size: 40px;
    }

/* 灰色下框線 border-bottom */
.border-b-gray {
    border-bottom: 1px solid rgb(216, 216, 216);
}

/* 灰色上框線 border-top */
.border-t-gray {
    border-top: 1px solid rgb(216, 216, 216);
}

/* 淺灰色右框線 */
.border-e-light-gray {
    border-right: 2px solid rgb(238, 237, 237);
}
