

<div class="album-back">
    <div class="album container mt-3">
        <div class="row gx-0">
            <i id="close-icon" class="fas fa-times d-block text-end pe-1"></i>
            <div class="col-9 ">
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://pix6.agoda.net/hotelImages/234/234438/234438_16042615400041817947.jpg?s=1024x768"
                                 alt="...">
                            <div class="carousel-caption d-none d-md-flex justify-content-between px-3">
                                <h5>台中商旅</h5>
                                <p><span>1</span> / <span>66</span></p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="http://pix6.agoda.net/hotelImages/234438/-1/473caa63348a75f0a87e7ea2c7868e81.jpg?s=1024x768"
                                 class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-flex justify-content-between px-3">
                                <h5>經典雙人房</h5>
                                <p><span>2</span> / <span>66</span></p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="https://pix6.agoda.net/hotelImages/234/234438/234438_16020314120039601807.jpg?s=1024x768"
                                 alt="...">
                            <div class="carousel-caption d-none d-md-flex justify-content-between px-3">
                                <h5>園景套房</h5>
                                <p><span>3</span> / <span>66</span></p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="https://pix6.agoda.net/hotelImages/234438/-1/14b6f310d6c82575411bdc92ebd9a421.jpg?s=1024x768"
                                 alt="...">
                            <div class="carousel-caption d-none d-md-flex justify-content-between px-3">
                                <h5>行政雙人房 - 景觀</h5>
                                <p><span>4</span> / <span>66</span></p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="https://pix6.agoda.net/hotelImages/234/234438/234438_16042712590041850273.jpg?s=1024x768"
                                 alt="...">
                            <div class="carousel-caption d-none d-md-flex justify-content-between px-3">
                                <h5>衛浴</h5>
                                <p><span>5</span> / <span>66</span></p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="https://pix6.agoda.net/hotelImages/234/234438/234438_16020314340039602639.jpg?s=1024x768"
                                 alt="...">
                            <div class="carousel-caption d-none d-md-flex justify-content-between px-3">
                                <h5>大廳</h5>
                                <p><span>6</span> / <span>66</span></p>
                            </div>
                        </div>
                        <!-- <div class="carousel-item">
                            <img src="https://pix6.agoda.net/hotelImages/234/234438/234438_16042615330041817503.jpg?s=1024x768"
                                alt="...">
                            <div class="carousel-caption d-none d-md-flex justify-content-between px-3">
                                <h5>大廳</h5>
                                <p><span>7</span> / <span>66</span></p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="https://pix6.agoda.net/hotelImages/234/234438/234438_16052514530042711035.jpg?s=1024x768"
                                alt="...">
                            <div class="carousel-caption d-none d-md-flex justify-content-between px-3">
                                <h5>入口</h5>
                                <p><span>8</span> / <span>66</span></p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="https://pix6.agoda.net/hotelImages/234/234438/234438_16052514520042711016.jpg?s=1024x768"
                                alt="...">
                            <div class="carousel-caption d-none d-md-flex justify-content-between px-3">
                                <h5>內部裝潢</h5>
                                <p><span>9</span> / <span>66</span></p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="https://pix6.agoda.net/hotelImages/234/234438/234438_16052514530042711034.jpg?s=1024x768"
                                alt="...">
                            <div class="carousel-caption d-none d-md-flex justify-content-between px-3">
                                <h5>健身房</h5>
                                <p><span>10</span> / <span>66</span></p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="https://pix6.agoda.net/hotelImages/234/234438/234438_16052514520042711009.jpg?s=1024x768"
                                alt="...">
                            <div class="carousel-caption d-none d-md-flex justify-content-between px-3">
                                <h5>自助餐</h5>
                                <p><span>11</span> / <span>66</span></p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="https://pix6.agoda.net/hotelImages/234/234438/234438_16052514530042711032.jpg?s=1024x768"
                                alt="...">
                            <div class="carousel-caption d-none d-md-flex justify-content-between px-3">
                                <h5>行政Lounge Bar</h5>
                                <p><span>12</span> / <span>66</span></p>
                            </div>
                        </div> -->
                    </div>
                    <!-- <div class="carousel-indicators">
                        <img type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"
                            src="http://pix6.agoda.net/hotelImages/234438/-1/473caa63348a75f0a87e7ea2c7868e81.jpg?s=1024x768"
                            alt="imgAsButton"></img>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div> -->
                    <button class="carousel-control-prev" type="button"
                            data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button"
                            data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-3 text-white">
                <div class="side-info-wrap mt-5 mx-3">
                    <p class="title">經典雙人房 (Classic Double)</p>
                    <div class="service-group my-4">
                        <div class="d-flex align-items-center mb-2">
                            <i class="fas fa-wifi me-3"></i>
                            <span>免費Wi-Fi</span>
                        </div>
                        <div class="d-flex align-items-center mb-2">
                            <i class="fas fa-bed me-3"></i>
                            <span></span><span>1</span>張雙人床</span>
                        </div>
                        @*<div class="d-flex align-items-center mb-2">
                                <i class="fas fa-ruler-horizontal me-3"></i>
                                <span>客房面積：<span>49平方公尺/527平方英尺</span></span>
                            </div>*@
                        <div class="d-flex align-items-center mb-2">
                            <i class="fas fa-smoking-ban me-3"></i>
                            <span>禁菸房</span>
                        </div>
                        <div class="d-flex align-items-center mb-2">
                            <i class="fas fa-bath me-3"></i>
                            <span>獨立淋浴間/浴缸</span>
                        </div>
                    </div>
                    <p class="color-red mb-1">本站剩2間！</p>
                    <p class="discount">今日優惠 - 下殺<span>3.6</span>折</p>
                    <p class="price-wrap">NT$ <span class="price">2,390</span><span> / 每晚</span></p>
                    <a href="#" class="anchor-room-type">查看特惠房型</a>
                </div>
            </div>
            <div class="img-pages">
                <div class="wrap d-flex flex-wrap justify-content-start text-white fz-14 mt-3">
                    <div class="item">
                        <input type="radio" name="img-category" id="all-img">
                        <label for="all-img">所有照片<span>(66張)</span></label>
                    </div>
                    <div class="item">
                        <input type="radio" name="img-category" id="room-img">
                        <label for="room-img">客房<span>(24張)</span></label>
                    </div>
                    <div class="item">
                        <input type="radio" name="img-category" id="place-img">
                        <label for="place-img">住宿<span>(18張)</span></label>
                    </div>
                    <div class="item">
                        <input type="radio" name="img-category" id="facility-img">
                        <label for="facility-img">設施與服務<span>(11張)</span></label>
                    </div>
                    <div class="item">
                        <input type="radio" name="img-category" id="restaurant-img">
                        <label for="restaurant-img">餐飲<span>(9張)</span></label>
                    </div>
                    <div class="item">
                        <input type="radio" name="img-category" id="other-img">
                        <label for="other-img">其他<span>(7張)</span></label>
                    </div>
                </div>
                <div class="carousel-indicators">
                    <img type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                         class="active" aria-current="true" aria-label="Slide 1"
                         src="https://pix6.agoda.net/hotelImages/234/234438/234438_16042615400041817947.jpg?s=1024x768"
                         alt="imgAsButton 0"></img>
                    <img type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                         aria-label="Slide 2"
                         src="http://pix6.agoda.net/hotelImages/234438/-1/473caa63348a75f0a87e7ea2c7868e81.jpg?s=1024x768"
                         alt="imgAsButton 1"></img>
                    <img type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                         aria-label="Slide 3"
                         src="https://pix6.agoda.net/hotelImages/234/234438/234438_16020314120039601807.jpg?s=1024x768"
                         alt="imgAsButton 2"></img>
                    <img type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                         aria-label="Slide 4"
                         src="https://pix6.agoda.net/hotelImages/234438/-1/14b6f310d6c82575411bdc92ebd9a421.jpg?s=1024x768"
                         alt="imgAsButton 3"></img>
                    <img type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
                         aria-label="Slide 5"
                         src="https://pix6.agoda.net/hotelImages/234/234438/234438_16042712590041850273.jpg?s=1024x768"
                         alt="imgAsButton 4"></img>
                    <img type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5"
                         aria-label="Slide 6"
                         src="https://pix6.agoda.net/hotelImages/234/234438/234438_16042615330041817503.jpg?s=1024x768"
                         alt="imgAsButton 5"></img>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="album-back">
    <div class="album container mt-3">
        <div class="row gx-0">
            <i id="close-icon" class="fas fa-times d-block text-end pe-1"></i>
            <div class="col-9 ">
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div v-for="img in ImgGroup" :class="carousel-item active">
                            <img :src="img.ImgURL"
                                 alt="...">
                            <div class="carousel-caption d-none d-md-flex justify-content-between px-3">
                                <h5>{{RoomName}}</h5>
                                <p><span>{{img.Index}}</span> / <span>{{ImgGroup.length}}</span></p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="http://pix6.agoda.net/hotelImages/234438/-1/473caa63348a75f0a87e7ea2c7868e81.jpg?s=1024x768"
                                 class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-flex justify-content-between px-3">
                                <h5>經典雙人房</h5>
                                <p><span>2</span> / <span>66</span></p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="https://pix6.agoda.net/hotelImages/234/234438/234438_16020314120039601807.jpg?s=1024x768"
                                 alt="...">
                            <div class="carousel-caption d-none d-md-flex justify-content-between px-3">
                                <h5>園景套房</h5>
                                <p><span>3</span> / <span>66</span></p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="https://pix6.agoda.net/hotelImages/234438/-1/14b6f310d6c82575411bdc92ebd9a421.jpg?s=1024x768"
                                 alt="...">
                            <div class="carousel-caption d-none d-md-flex justify-content-between px-3">
                                <h5>行政雙人房 - 景觀</h5>
                                <p><span>4</span> / <span>66</span></p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="https://pix6.agoda.net/hotelImages/234/234438/234438_16042712590041850273.jpg?s=1024x768"
                                 alt="...">
                            <div class="carousel-caption d-none d-md-flex justify-content-between px-3">
                                <h5>衛浴</h5>
                                <p><span>5</span> / <span>66</span></p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="https://pix6.agoda.net/hotelImages/234/234438/234438_16020314340039602639.jpg?s=1024x768"
                                 alt="...">
                            <div class="carousel-caption d-none d-md-flex justify-content-between px-3">
                                <h5>大廳</h5>
                                <p><span>6</span> / <span>66</span></p>
                            </div>
                        </div>
                        <!-- <div class="carousel-item">
                            <img src="https://pix6.agoda.net/hotelImages/234/234438/234438_16042615330041817503.jpg?s=1024x768"
                                alt="...">
                            <div class="carousel-caption d-none d-md-flex justify-content-between px-3">
                                <h5>大廳</h5>
                                <p><span>7</span> / <span>66</span></p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="https://pix6.agoda.net/hotelImages/234/234438/234438_16052514530042711035.jpg?s=1024x768"
                                alt="...">
                            <div class="carousel-caption d-none d-md-flex justify-content-between px-3">
                                <h5>入口</h5>
                                <p><span>8</span> / <span>66</span></p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="https://pix6.agoda.net/hotelImages/234/234438/234438_16052514520042711016.jpg?s=1024x768"
                                alt="...">
                            <div class="carousel-caption d-none d-md-flex justify-content-between px-3">
                                <h5>內部裝潢</h5>
                                <p><span>9</span> / <span>66</span></p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="https://pix6.agoda.net/hotelImages/234/234438/234438_16052514530042711034.jpg?s=1024x768"
                                alt="...">
                            <div class="carousel-caption d-none d-md-flex justify-content-between px-3">
                                <h5>健身房</h5>
                                <p><span>10</span> / <span>66</span></p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="https://pix6.agoda.net/hotelImages/234/234438/234438_16052514520042711009.jpg?s=1024x768"
                                alt="...">
                            <div class="carousel-caption d-none d-md-flex justify-content-between px-3">
                                <h5>自助餐</h5>
                                <p><span>11</span> / <span>66</span></p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="https://pix6.agoda.net/hotelImages/234/234438/234438_16052514530042711032.jpg?s=1024x768"
                                alt="...">
                            <div class="carousel-caption d-none d-md-flex justify-content-between px-3">
                                <h5>行政Lounge Bar</h5>
                                <p><span>12</span> / <span>66</span></p>
                            </div>
                        </div> -->
                    </div>
                    <!-- <div class="carousel-indicators">
                        <img type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"
                            src="http://pix6.agoda.net/hotelImages/234438/-1/473caa63348a75f0a87e7ea2c7868e81.jpg?s=1024x768"
                            alt="imgAsButton"></img>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div> -->
                    <button class="carousel-control-prev" type="button"
                            data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button"
                            data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-3 text-white">
                <div class="side-info-wrap mt-5 mx-3">
                    <p class="title">{{RoomName}} {{RoomEngName}}</p>
                    <div class="service-group my-4">
                        <div v-if="FreeWiFi" class="d-flex align-items-center mb-2">
                            <i class="fas fa-wifi me-3"></i>
                            <span>免費Wi-Fi</span>
                        </div>
                        <div v-for="b in Bed" class="d-flex align-items-center mb-2">
                            <i class="fas fa-bed me-3"></i>
                            <span>{{b.Amount}}</span><span>張{{b.Name}}</span>
                        </div>
                        @*<div class="d-flex align-items-center mb-2">
                                <i class="fas fa-ruler-horizontal me-3"></i>
                                <span>客房面積：<span>49平方公尺/527平方英尺</span></span>
                            </div>*@
                        <div v-if="NoSmoking" class="d-flex align-items-center mb-2">
                            <i class="fas fa-smoking-ban me-3"></i>
                            <span>禁菸房</span>
                        </div>
                        <div class="d-flex align-items-center mb-2">
                            <i class="fas fa-bath me-3"></i>
                            <span>{{Bathroom}}</span>
                        </div>
                    </div>
                    <p class="color-red mb-1">本站剩{{RoomLeft}}間！</p>
                    <p class="discount">今日優惠 - 下殺<span>{{RoomDiscount}}</span>折</p>
                    <p class="price-wrap">NT$ <span class="price">{{RoomNowPrice}}</span><span> / 每晚</span></p>
                    <a :href="('#'+RoomID" class="anchor-room-type">查看特惠房型</a>
                </div>
            </div>
            <div class="img-pages">
                @*<div class="wrap d-flex flex-wrap justify-content-start text-white fz-14 mt-3">
                    <div class="item">
                        <input type="radio" name="img-category" id="all-img">
                        <label for="all-img">所有照片<span>(66張)</span></label>
                    </div>
                    <div class="item">
                        <input type="radio" name="img-category" id="room-img">
                        <label for="room-img">客房<span>(24張)</span></label>
                    </div>
                    <div class="item">
                        <input type="radio" name="img-category" id="place-img">
                        <label for="place-img">住宿<span>(18張)</span></label>
                    </div>
                    <div class="item">
                        <input type="radio" name="img-category" id="facility-img">
                        <label for="facility-img">設施與服務<span>(11張)</span></label>
                    </div>
                    <div class="item">
                        <input type="radio" name="img-category" id="restaurant-img">
                        <label for="restaurant-img">餐飲<span>(9張)</span></label>
                    </div>
                    <div class="item">
                        <input type="radio" name="img-category" id="other-img">
                        <label for="other-img">其他<span>(7張)</span></label>
                    </div>
                </div>*@
                <div class="carousel-indicators">
                    <img v-for="img in ImgGroup" type="button" data-bs-target="#carouselExampleCaptions" :data-bs-slide-to="img.Index"
                         :class="active" :aria-current="true" :aria-label="'Slide'+ (img.Index+1)"
                         :src="img.ImgURL"
                         :alt="'imgAsButton' + img.Index">
                    <img type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                         aria-label="Slide 2"
                         src="http://pix6.agoda.net/hotelImages/234438/-1/473caa63348a75f0a87e7ea2c7868e81.jpg?s=1024x768"
                         alt="imgAsButton 1">
                    <img type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                         aria-label="Slide 3"
                         src="https://pix6.agoda.net/hotelImages/234/234438/234438_16020314120039601807.jpg?s=1024x768"
                         alt="imgAsButton 2">
                    <img type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                         aria-label="Slide 4"
                         src="https://pix6.agoda.net/hotelImages/234438/-1/14b6f310d6c82575411bdc92ebd9a421.jpg?s=1024x768"
                         alt="imgAsButton 3">
                    <img type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
                         aria-label="Slide 5"
                         src="https://pix6.agoda.net/hotelImages/234/234438/234438_16042712590041850273.jpg?s=1024x768"
                         alt="imgAsButton 4">
                    <img type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5"
                         aria-label="Slide 6"
                         src="https://pix6.agoda.net/hotelImages/234/234438/234438_16042615330041817503.jpg?s=1024x768"
                         alt="imgAsButton 5">
                </div>
            </div>
        </div>
    </div>
</div>

