* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    color: #000;
}


/*.page-fullpage {
    display: flex;
    background-color: rgba(235, 235, 235, 0.315);*/
    /* clear: both; 不允許有浮動物件
    margin: 0 auto 0 auto;順序: 上右下左 */
    /* width: 1200px; */
    /*margin: auto;
}*/

/* 左側menu大區塊 */
/*.left-menu-component {
    min-width: 200px;
    background-color: #fff;
    background-image: linear-gradient(300deg,#fff,rgba(245, 245, 245, 0.856));
    padding-left: 10vw;
    box-shadow: 5px 3px 6px rgba(66, 66, 66, 0.137);
}

    .left-menu-component ul {
        padding-left: 0;
    }

    .left-menu-component a {
        display: block;
        padding: 12px 100px 12px 10px;
        font-weight: bold;
        text-decoration: none;
        color: rgb(93, 143, 236);
    }

        .left-menu-component a > i {
            display: inline-block;
            width: 40px;
            font-size: 22px;
            text-align: center;
            color: rgb(93, 143, 236);
        }

        .left-menu-component a.currentPage {
            color: rgb(85, 85, 85);
            background-color: rgba(241, 241, 241, 0.479);
            border-right: 4px rgb(103, 149, 233) solid;
        }

            .left-menu-component a.currentPage > i {
                color: rgb(85, 85, 85);
            }

        .left-menu-component a:hover {
            color: #fff;
            background-color: rgb(93, 143, 236);
            border-right-color: rgb(93, 143, 236);
        }

            .left-menu-component a:hover > i {
                color: #fff;
            }

    .left-menu-component .profile-list a {
        padding-left: 25px;
    }

    .left-menu-component .profile-list i {
        font-size: 14px;
    }*/


.filter-sort-wrap{
    display: flex;
    justify-content: space-between;
    width:900px;

}
.filter-my-order{
    /* background-color: #0f0; */
    display: inline-flex; 
}

.filter-my-order .filter-option {
    display: inline-block;
    padding: 10px;
    font-family:'Noto Sans TC',sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color: #5392f9;
    border-bottom: #dddfe2 2px solid;
}

.filter-my-order .radio-box:checked+.filter-option {
    color: rgb(54, 54, 54);
    border-bottom: #75a8f9  2px solid;
}

.sort-btn-group {
    border: rgb(207, 207, 207) 1px solid;
    display: inline-flex;
    align-self: center;
    /* position: relative;
    left: 200px; */
    /* border-radius: 25px; */
}

.sort-btn-group .sort-text,.sort-btn-group .sort-option{
    padding: 10px 10px;
}
.sort-btn-group .sort-text{
    font-size: 14px;
    font-family: 'Noto Sans TC',sans-serif;
    font-weight: bold;
    color: rgb(54, 54, 54);
}
.sort-btn-group .radio-box:checked+.sort-option{
    color: #3f81eb;
    font-weight: bold;
    background-color: #f3f3f3;
    /* border-radius: 25px; */
    /* box-shadow: 3px 3px 1px 0px rgba(194, 194, 194, 0.562); */
}
.sort-btn-group .sort-option{
    color: black;
    font-size: 14px;
}

.order-id-container {
    display: flex;
    margin-top: 20px;
}

.search-order-wrap .search-order {
    display: flex;
}

.search-order-wrap label {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
}

.search-order-wrap .search-order input {
    padding: 5px 10px;
    width: 250px;
    font-family: Montserrat,serif;
    color: black;
    border: 1px solid rgb(196, 196, 196);
    outline-color: rgb(96, 143, 245);
}

    .search-order-wrap .search-order input::placeholder {
        color: rgb(194, 194, 194);
    }

.search-order-wrap button {
    margin-left: 20px;
}

button#search {
    background-color: rgb(68, 158, 241);
    border-color: transparent;
    box-shadow: -1px 2px 5px rgb(184, 184, 184);
}

button#clear-button {
    border: 1px solid rgb(190, 190, 190);
    color: rgb(190, 190, 190);
}

.no-booking-panel {
    display: flex;
    min-height:20rem;
    margin-top: 20px;
    /* background-color: darkturquoise; */
    align-items: start;
}

    .no-booking-panel img {
        /*display: flex;*/
        /* background-color: greenyellow; */
    }

    .no-booking-panel .no-booking-content {
        margin-left: 50px;
    }

.no-booking-content p {
    margin-bottom: 5px;
    font-family: serif;
    font-size: 14px;
    color: rgb(53, 53, 53);
}

.no-booking-content .big-text {
    font-weight: bold;
    font-size: 18px;
}

.no-booking-content a {
    text-decoration: none;
    font-family: serif;
    font-weight: bold;
    color: rgb(65, 143, 206);
}

    .no-booking-content a:hover {
        color: rgb(142, 196, 240);
        text-decoration: underline;
    }

/* -------單筆訂單的區塊-------- */

div.booking-item {
    width: 900px;
}
/* 頂端的地點，預訂日期 */
.booking-item .side-info {
    display: flex;
    justify-content: space-between;
}

.time-place-item .time {
    font-weight: bold;
}

/* 共用的灰字設定 */
.side-info time,
.time-place-box .place,
.time-place-box .place i,
.booking-info .order-title {
    color: gray;
}

/* 包著白色訂單區塊，重點在左邊框線 */
.booking-info-wrap {
    margin-left: 7px;
    border-left: 2px solid rgb(219, 219, 219);
}

/*----------白色訂單區塊的設定-------------- */
.booking-info {
    box-shadow: 2px 2px 5px rgba(66, 65, 65, 0.295);
    background-color: #fff;
}

.booking-info .img-wrap {
    width:200px;
    height:230px;
    overflow:hidden;
}

.booking-info .img-wrap img {
    display:block;
    margin:auto;
    height:100%;
    /*width: 200px;*/
    /*height: 250px;*/
}

/* 飯店相關區塊 */
.hotel-status {
    width: 400px;
}

    .hotel-status h4 {
        font-size: 20px;
        font-weight: bold;
    }

    .hotel-status .order-status-suc, .order-status-suc i {
        color: rgb(41, 172, 41);
    }
    .hotel-status .order-status-fail, .order-status-fail i {
        color: rgb(220, 53, 69);
    }

    .hotel-status .order-status-fail, .order-status-fail i {
        color: rgb(219, 54, 48);
    }

.free-status span {
    font-size: 14px;
    font-weight: bold;
    color: rgb(43, 151, 43);
}

.free-status .free-tag {
    padding: 2px 5px;
    color: #fff;
    background-color: rgb(43, 151, 43);
    border-radius: 3px;
}

/* 住宿時間,價錢相關區塊 */
.time-price-status p, .time-price-status span {
    color: gray;
}

.time-price-status .price-info {
    padding-right: 20px;
    text-align: right;
    line-height: 2;
    font-size: 32px;
    color: rgb(235, 75, 75);
}

    .time-price-status .price-info span {
        font-family: Montserrat,serif;
        font-size: 16px;
        font-weight: bold;
        vertical-align: center;
    }

.time-info {
    display: flex;
}

    .time-info .day {
        margin-right: 5px;
        font-size: 36px;
    }

.start-date-detail, .end-date-detail {
    display: flex;
    align-items: center;
}

.month-week p {
    margin-bottom: 0;
    font-size: 14px;
}

/* 白色叮噹裡面,底端的區塊 */
.booking-info .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-top: 1px solid rgb(218, 218, 218);
}

    .booking-info .footer a {
        text-decoration: none;
        color: rgb(81, 131, 240);
        font-weight: bold;
    }

        .booking-info .footer a:hover {
            color: rgb(157, 210, 241);
            text-decoration: underline;
        }

        .booking-info .footer a + a::before {
            content: '|';
            margin: 0px 20px;
            color: rgb(196, 196, 196);
        }

.booking-info a.detail-btn {
    padding: 10px 20px;
    background-color: rgb(81, 131, 240);
    color: #fff;
    border: 1px solid rgb(81, 131, 240);
    border-radius: 5px;
}

    .booking-info a.detail-btn:hover {
        background-color: #fff;
        color: rgb(81, 176, 240);
        text-decoration: none;
        border-color: rgb(81, 176, 240);
    }
