
@{
    ViewBag.Title = "成員介紹";
    Layout = "~/Views/Shared/_AdogaLayout.cshtml";
}
@section topCSS{
    <link rel="stylesheet" href="~/Asset/CSS/HotelDetailShare.css" />
    <style>
        a.resume-link {
            width:fit-content();
            padding:5px;
            background-color: #1c9855;
            color: #fff;
            font-size:12px;
            transition: 0.3s;
            border: 1px solid #1c9855;
            border-radius:10px;
        }
        a.resume-link:hover {
            color: #49a87c;
            background-color:#fff;
        }
    </style>
}
<div class="wrap-1100 mb-5">
    <h2 class="my-5">成員介紹</h2>
    <div class="row g-0 mb-5 border-b-gray">
        <div class="col-md-4 text-center border-e-light-gray d-flex align-items-center justify-content-center">
            <h3>徐莘杰<i class="ms-3 far fa-thumbs-up"></i></h3>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-4 border-e-light-gray">
                    <h4 class="ps-2">前台</h4>
                    <ul>
                        <li>飯店員工後台登入</li>
                        <li>顧客Google登入</li>
                        <li>顧客訂單詳細頁面</li>
                    </ul>
                </div>
                <div class="col-4 border-e-light-gray">
                    <h4>飯店後台</h4>
                    <ul>
                        <li>飯店新增.修改.詳細  頁面</li>
                        <li>房型新增.修改.詳細頁面</li>
                        <li>每日房間展開日曆</li>
                        <li>訂單管理頁面</li>
                    </ul>
                </div>
                <div class="col-4">
                    <h4>資料庫設計</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-0 mb-5 border-b-gray">
        <div class="col-md-4 text-center border-e-light-gray d-flex flex-column justify-content-center align-items-center">
            <h3>王詩雅<i class="ms-3 fas fa-image"></i></h3>
            <a class="resume-link"href="https://www.cakeresume.com/s--LG3cNs5QKCJ7RQ2jaP-ILQ--/MYLSSYW21" target="_blank">查看履歷</a>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-4 border-e-light-gray">
                    <h4 class="ps-2">前台</h4>
                    <ul>
                        <li>飯店詳細頁面</li>
                        <li>管理訂單頁面</li>
                        <li>協助調整排版和樣式</li>
                    </ul>
                </div>
                <div class="col-4">
                    <h4>飯店後台</h4>
                    <ul>
                        <li>飯店圖片上傳</li>
                        <li>房型圖片上傳</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-0 mb-5 border-b-gray">
        <div class="col-md-4 text-center border-e-light-gray d-flex flex-column justify-content-center align-items-center">
            <h3>劉政謙<i class="ms-3 fas fa-home"></i></h3>
            <a class="resume-link" href="https://www.cakeresume.com/s--pIpDDCoOqb2Wk8rlizuKiQ--/lau703011"target="_blank">查看履歷</a>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-4 border-e-light-gray">
                    <h4 class="ps-2">前台</h4>
                    <ul>
                        <li>首頁頁面</li>
                        <li>搜尋功能</li>
                        <li>客服中心頁</li>
                        <li>城市簡介頁</li>
                    </ul>
                </div>
                <div class="col-4">
                    <h4>adoga後台</h4>
                    <ul>
                        <li>員工 & 顧客的詳細.刪除.修改頁面</li>
                        <li>訂單詳細頁面</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-0 mb-5 border-b-gray">
        <div class="col-md-4 text-center border-e-light-gray d-flex flex-column justify-content-center align-items-center">
            <h3>林康倫<i class="ms-3 fas fa-comments-dollar"></i></h3>
            <a class="resume-link" href="https://www.cakeresume.com/s--mOLHz7ftNKZS52Uwp7VHxw--/lun-lin-e1624e"target="_blank">查看履歷</a>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-4">
                    <h4 class="ps-2">前台</h4>
                    <ul>
                        <li>結賬頁面(包含金流串接)</li>
                        <li>重新結帳功能</li>
                        <li>會員評價頁面</li>
                        <li>評鑒功能</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-0 mb-5 border-b-gray">
        <div class="col-md-4 text-center border-e-light-gray d-flex flex-column justify-content-center align-items-center">
            <h3>雷為鈞<i class="ms-3 fas fa-door-open"></i></h3>
            <a class="resume-link" href="https://www.cakeresume.com/s--cRY-fLpPXXBoKVgInWvEGA--/ttt-rr"target="_blank">查看履歷</a>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-4">
                    <h4 class="ps-2">前台</h4>
                    <ul>
                        <li>使用者註冊與登入</li>
                        <li>第三方登入串接</li>
                        <li>忘記密碼</li>
                        <li>驗證信寄送</li>
                        <li>顧客基本資料變更</li>
                        <li>管理訂單頁面的分頁功能</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-0 mb-5 border-b-gray">
        <div class="col-md-4 text-center border-e-light-gray d-flex flex-column justify-content-center align-items-center">
            <h3>蕭艾琳<i class="ms-3 fas fa-search"></i></h3>
            <a class="resume-link" href="https://www.cakeresume.com/s--WP0K4oGlkGT7IjDDPauOyA--/irene-buildschool"target="_blank">查看履歷</a>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-4">
                    <h4 class="ps-2">前台</h4>
                    <ul>
                        <li>搜尋頁面</li>
                        <li>搜尋功能</li>
                        <li>排序功能</li>
                        <li>篩選功能</li>
                        <li>分頁功能</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="extend"></div>





